article,aside,blockquote,body,button,code,dd,details,div,dl,dt,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,hr,input,legend,li,menu,nav,ol,p,pre,section,td,textarea,th,ul{margin:0;padding:0}body,button,input,select,textarea{font:400 .3rem/1.5 -apple-system,BlinkMacSystemFont,PingFang SC,Helvetica Neue,STHeiti,Microsoft Yahei,Tahoma,Simsun,sans-serif;color:#333}article,aside,details,figcaption,figure,footer,header,hgroup,iframe,menu,nav,section{display:block}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:500}address,cite,dfn,em,i,var{font-style:normal;font-weight:400}dfn{font-family:Arial}ol,ul{list-style:none}pre{white-space:pre-wrap;word-wrap:break-word}img{max-width:100%;height:auto}a{color:#333;text-decoration:none}button,fieldset,img,input{border:0}button,input,select,textarea{font-size:100%}button,input[type=button],input[type=submit]{line-height:normal!important}table{border-collapse:collapse;border-spacing:0}input,textarea{border:0;background:transparent;-webkit-box-sizing:border-box;box-sizing:border-box;outline:0;-webkit-appearance:none;border-radius:0}body{overflow-x:hidden;-webkit-text-size-adjust:none;-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-font-smoothing:antialiased;-webkit-user-select:none;user-select:none;-webkit-overflow-scrolling:touch;background-color:#eee}:focus{outline:0}.ellips{white-space:nowrap;overflow:hidden;text-overflow:ellipsis}.clearfix:after{clear:both;content:"";display:block;height:0;visibility:hidden;line-height:0}.section{flex:1;}

/* border line */
.border-top-line::after,
.border-right-line::after,
.border-bottom-line::after,
.border-left-line::after{position:absolute;content:'';background-color:#e1e1e1;}
.border-top-line::after,
.border-bottom-line::after{left:0;right:0;height:1px;z-index:10;}
.border-top-line::after{top:0;}
.border-bottom-line::after{bottom:0;}
.border-right-line::after,
.border-left-line::after{top:0;bottom:0;width:1px;z-index:10;}
.border-right-line::after{right:0;}
.border-left-line::after{left:0;}

/* font icon | 字体图标 */
@font-face {
    font-family: "icomoon";
    font-weight: normal;
    font-style: normal;
    src: url("../../public/fonts/icomoon.eot");
    src: url("../../public/fonts/icomoon.eot") format("embedded-opentype"),
    url("../../public/fonts/icomoon.woff") format("woff"),
    url("../../public/fonts/icomoon.ttf") format("truetype"),
    url("../../public/fonts/icomoon.svg") format("svg");
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {content: "\e900";}
.icon-books:before {content: "\e920";}
.icon-stack:before {content: "\e92e";}
.icon-location:before {content: "\e947";}
.icon-undo2:before {content: "\e967";}
.icon-bubble:before {content: "\e96b";}
.icon-user-tie:before {content: "\e976";}
.icon-quotes-left:before {content: "\e977";}
.icon-quotes-right:before {content: "\e978";}
.icon-spinner9:before {content: "\e982";}
.icon-search:before {content: "\e986";}
.icon-cog:before {content: "\e994";}
.icon-tree:before {content: "\e9bc";}
.icon-eye-blocked:before {content: "\e9d1";}
.icon-cross:before {content: "\ea0f";}
.icon-checkmark:before {content: "\ea10";}
.icon-circle-right:before {content: "\ea42";}
.icon-circle-left:before {content: "\ea44";}